*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.corpo{
    position: relative;
    width: 90vw;
    height: 300px;
    border: 1px solid black;
    margin: 0 auto;
    overflow: hidden;
}
.moto{
    position: absolute;
    width: 100px;
    bottom: 0;
}
.dog{
    position: absolute;
    width: 70px;
    right: 90%;
    bottom: 0;
}