*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    
   display: none;
    width: 100vw;
    height: 100vh;
     background-image: url('../img/fundo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: sugir 1s forwards;
    
}

@keyframes sugir{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
.titulo{
    text-shadow: 1px 1px 1px black;
    color: white;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.menu main{

    padding: 20px;
    text-align: center;
    position: relative;
    display: flex;
    width: 100vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.33);
   border-radius: 10px;
   
    flex-flow: column nowrap;
    gap: 0px;
    justify-content: space-evenly;

    width: 80vw;
    margin: 0 auto;
}
.btn {
    border-radius: 10px;
    padding: 20px;
    opacity: 0;
    position: relative;
    animation: entrar 1s forwards;
}

.btn:nth-child(1) {
    animation-delay: 1s;
}

.btn:nth-child(2) {
    animation-delay: 2s;
}

.btn:nth-child(3) {
    animation-delay: 3s;
}

.btn:nth-child(4) {
    animation-delay: 4s;
}
.btn:nth-child(5) {
    animation-delay: 5s;
}
.btn:nth-child(6) {
    animation-delay: 6s;
}

@keyframes entrar {
    from {
        left: -50%;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}



.meus-planos{
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 123, 0);
    animation: sugir 3s forwards;
    overflow: hidden;
}
.parte1{
display: block;
position: relative;
top: 90px;
width: 100%;
height: 400px;
border: 1px solid black;
background-color: blueviolet;
}
.parte1 .divbtn{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -70px;    
}
.parte1 .divbtn button{
    font-size: 2em;
    padding: 5px;
    
}
.kassiocasar{
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 0px;
}
.jadnacasar{
     height: 250px;
    position: absolute;
    bottom: 0;
    right: 0;
}







.parte2{
display: none;
width: 100%;
height: 100vh;
background-color: rgb(43, 198, 226);
animation: sugir 2s linear;
position: relative;
top: 90px;
width: 100%;
height: 400px;
border: 1px solid black;

}
.leia{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 0, 179);
    animation: sugir 3s forwards;
}

.btnVoltar{
    position: absolute;
    border-radius: 50%;
    
    width: 55px;
    height: 55px;

    left: 20px;
    top: 20px;
}