*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo{
    text-shadow: 1px 1px 1px black;
    color: white;
    font-variant: small-caps;
    letter-spacing: 2px;
}
.menu{
    
   display: block;
    width: 100vw;
    height: 100vh;
     background-image: url('../img/fundo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: sugir 1s forwards;
    
}

@keyframes sugir{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}


.menu main{

    padding: 20px;
    text-align: center;
    position: relative;
    display: flex;
    width: 100vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.33);
   border-radius: 10px;
   
    flex-flow: column nowrap;
    gap: 0px;
    justify-content: space-evenly;

    width: 80vw;
    margin: 0 auto;
}
.btn {
    border-radius: 10px;
    padding: 20px;
    opacity: 0;
    position: relative;
    animation: entrar 1s forwards;
}

.btn:nth-child(1) {
    animation-delay: 1s;
}

.btn:nth-child(2) {
    animation-delay: 2s;
}

.btn:nth-child(3) {
    animation-delay: 3s;
}

.btn:nth-child(4) {
    animation-delay: 4s;
}
.btn:nth-child(5) {
    animation-delay: 5s;
}
.btn:nth-child(6) {
    animation-delay: 6s;
}

@keyframes entrar {
    from {
        left: -50%;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}



.meus-planos{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 254);
    animation: sugir 3s forwards;
    overflow: hidden;
}
.parte1{
display: block;
position: relative;
top: 90px;
width: 100%;
height: 400px;
border: 1px solid black;
background-image: url('../img/cenario.jpg');
background-position: bottom;
background-size: cover;
}
.parte1 .divbtn{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -70px;    
}
.parte1 .divbtn button{
    font-size: 2em;
    padding: 5px;
    border-radius: 50%;
    
}
.kassiocasar{
    height: 220px;
    position: absolute;
    bottom: -3px;
    left: 0px;
}
.jadnacasar{
     height: 230px;
    position: absolute;
    bottom: -10px;
    right: 0;
}







.parte2{
display: none;
position: relative;
width: 100%;
height: 100vh;
background-image: linear-gradient(to top, white,rgb(0, 195, 255));
animation: sugir 2s linear;
position: relative;
top: 90px;
width: 100%;
height: 400px;
border: 1px solid black;
border-bottom: 20px solid black;

}
.nuvem{
    top: 100px;
    position: absolute;
    animation: passar 15s linear infinite;
}
.cidades{
    position: absolute;
    bottom: -1px;
    height: 200px;
   
    animation: passarcity 20s linear infinite;
}
.casados{
    position: absolute;
    bottom: 0;
    height: 100px;
    left: 80px;
    
}
.irEmbora{
    animation: irEmbora 6s linear forwards;
}
@keyframes irEmbora{
    from{
        left: 1hg00px;
        transform: rotate(-45deg);
    }to{
        left: 100%;
    }
}
@keyframes passar{
    from{
        right: -100%;
    }to{
        right: 100%;
    }

}
@keyframes passarcity{
    from{
        right: -400%;
    }to{
        right:100%;
    }
    
}
.sorriso{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100%;
    opacity: 0.2;
}
.leia{
    position: relative;
    display: none;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/fundo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.leia p{
    border-radius: 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.37);
    width: 90vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
    line-height: 1.5em;
     animation: sugir 3s forwards;
     text-shadow: 1px 1px 1px white;
    
}

.btnVoltar{
    position: absolute;
    border-radius: 50%;
    
    width: 55px;
    height: 55px;

    left: 20px;
    top: 20px;
}